[submodule "server/watchlist-api"]
	path = server/watchlist-api
	url = https://github.com/BrunoUemura/watchlist-api
[submodule "server/portal-watchlist-api"]
	path = server/portal-watchlist-api
	url = https://github.com/BrunoUemura/portal-watchlist-api
[submodule "server/portal-auth-api"]
	path = server/portal-auth-api
	url = https://github.com/BrunoUemura/portal-auth-api
[submodule "server/portal-expenses-api"]
	path = server/portal-expenses-api
	url = https://github.com/BrunoUemura/portal-expenses-api
[submodule "client/portal-frontend-app"]
	path = client/portal-frontend-app
	url = https://github.com/BrunoUemura/portal-frontend-app
[submodule "server/portal-gateway-api"]
	path = server/portal-gateway-api
	url = https://github.com/BrunoUemura/portal-gateway-api
